.add-note-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    font-size: 1.5em;
    line-height: 3em;
    color: white;
}

.note-btn {
    margin-top: 2em;
}

#content {
    max-height: 20em;
    max-width: 40em;
}

select {
    height: 2em;
    font-size: .8em
}

.note-btn {
    height: 2.5em
}

.note-btn:hover {
    cursor: pointer
}

.name-input {
    height: 2.5em;
   
}